<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.CourseMapper">

    <!-- SELECT statement to retrieve a course by ID -->
    <select id="getById" parameterType="int" resultType="org.example.model.Course">
        SELECT * FROM course
        WHERE course_id = #{id}
    </select>

    <!-- INSERT statement to insert a new course -->
    <insert id="create" parameterType="org.example.model.Course">
        INSERT INTO course (course_name, credits, semester_id, instructor_id, department_id, classroom_id, description)
        VALUES (#{courseName}, #{credits}, #{semesterId}, #{instructorId}, #{departmentId}, #{classroomId}, #{description})
    </insert>

    <!-- UPDATE statement to update an existing course -->
    <update id="updateCourse" parameterType="org.example.model.Course">
        UPDATE course
        SET course_name = #{courseName}, credits = #{credits}, semester_id = #{semesterId},
        instructor_id = #{instructorId}, department_id = #{departmentId},
        classroom_id = #{classroomId}, description = #{description}
        WHERE course_id = #{courseId}
    </update>

    <!-- DELETE statement to delete a course by ID -->
    <delete id="delete" parameterType="int">
        DELETE FROM course
        WHERE course_id = #{id}
    </delete>

    <!-- SELECT statement to retrieve all courses -->
    <select id="getAll" resultType="org.example.model.Course">
        SELECT * FROM course
    </select>

</mapper>
