<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.SemesterMapper">

    <insert id="create" parameterType="org.example.model.Semester">
        INSERT INTO semester (semester_name, start_date, end_date)
        VALUES (#{semesterName}, #{startDate}, #{endDate})
    </insert>

    <select id="getById" parameterType="int" resultType="org.example.model.Semester">
        SELECT semester_id, semester_name, start_date, end_date
        FROM semester
        WHERE semester_id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM semester WHERE semester_id = #{id}
    </delete>

    <select id="getAll" resultType="org.example.model.Semester">
        SELECT semester_id, semester_name, start_date, end_date
        FROM semester
    </select>

</mapper>
